{% macro init(data) %}

  {% for item in data %}
  <div id="{{item.dataTarget}}">
    <div class="c-photo {{item.photoClass}}">
      <img class="o-image" src="{{item.photo}}" alt="{{item.title}}">
        <div class="c-photo__decor c-photo__decor--{{ item.photoDecorDirection }} js--photo-decor">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0.5 1920.5 300 300" enable-background="new 0.5 1920.5 300 300" xml:space="preserve">
            <path d="M17.5,1935.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S17.5,1934.395,17.5,1935.499"/>
            <path d="M47.5,1935.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S47.5,1934.395,47.5,1935.499"/>
            <path d="M77.5,1935.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S77.5,1934.395,77.5,1935.499"/>
            <path  d="M17.5,1965.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S17.5,1964.395,17.5,1965.499"/>
            <path  d="M47.5,1965.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S47.5,1964.395,47.5,1965.499"/>
            <path  d="M77.5,1965.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S77.5,1964.395,77.5,1965.499"/>
            <path  d="M17.5,1995.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S17.5,1994.395,17.5,1995.499"/>
            <path  d="M47.5,1995.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S47.5,1994.395,47.5,1995.499"/>
            <path  d="M77.5,1995.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S77.5,1994.395,77.5,1995.499"/>
            <path  d="M17.5,2025.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S17.5,2024.395,17.5,2025.499"/>
            <path  d="M47.5,2025.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S47.5,2024.395,47.5,2025.499"/>
            <path  d="M77.5,2025.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S77.5,2024.395,77.5,2025.499"/>
            <path  d="M17.5,2055.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S17.5,2054.395,17.5,2055.499"/>
            <path  d="M47.5,2055.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S47.5,2054.395,47.5,2055.499"/>
            <path  d="M77.5,2055.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S77.5,2054.395,77.5,2055.499"/>
            <path  d="M17.5,2085.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S17.5,2084.395,17.5,2085.499"/>
            <path  d="M47.5,2085.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S47.5,2084.395,47.5,2085.499"/>
            <path  d="M77.5,2085.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S77.5,2084.395,77.5,2085.499"/>
            <path  d="M17.5,2115.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S17.5,2114.395,17.5,2115.499"/>
            <path  d="M47.5,2115.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S47.5,2114.395,47.5,2115.499"/>
            <path  d="M77.5,2115.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S77.5,2114.395,77.5,2115.499"/>
            <path  d="M17.5,2145.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S17.5,2144.395,17.5,2145.499"/>
            <path  d="M47.5,2145.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S47.5,2144.395,47.5,2145.499"/>
            <path  d="M77.5,2145.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S77.5,2144.395,77.5,2145.499"/>
            <path  d="M107.5,2145.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S107.5,2144.395,107.5,2145.499"/>
            <path  d="M137.5,2145.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S137.5,2144.395,137.5,2145.499"/>
            <path  d="M167.5,2145.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S167.5,2144.395,167.5,2145.499"/>
            <path  d="M197.5,2145.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S197.5,2144.395,197.5,2145.499"/>
            <path  d="M227.5,2145.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S227.5,2144.395,227.5,2145.499"/>
            <path  d="M257.5,2145.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S257.5,2144.395,257.5,2145.499"/>
            <path  d="M287.5,2145.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S287.5,2144.395,287.5,2145.499"/>
            <path  d="M17.5,2175.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S17.5,2174.395,17.5,2175.499"/>
            <path  d="M47.5,2175.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S47.5,2174.395,47.5,2175.499"/>
            <path  d="M77.5,2175.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S77.5,2174.395,77.5,2175.499"/>
            <path  d="M107.5,2175.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S107.5,2174.395,107.5,2175.499"/>
            <path  d="M137.5,2175.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S137.5,2174.395,137.5,2175.499"/>
            <path  d="M167.5,2175.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S167.5,2174.395,167.5,2175.499"/>
            <path  d="M197.5,2175.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S197.5,2174.395,197.5,2175.499"/>
            <path  d="M227.5,2175.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S227.5,2174.395,227.5,2175.499"/>
            <path  d="M257.5,2175.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S257.5,2174.395,257.5,2175.499"/>
            <path  d="M287.5,2175.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S287.5,2174.395,287.5,2175.499"/>
            <path  d="M17.5,2205.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S17.5,2204.395,17.5,2205.499"/>
            <path  d="M47.5,2205.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S47.5,2204.395,47.5,2205.499"/>
            <path  d="M77.5,2205.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S77.5,2204.395,77.5,2205.499"/>
            <path  d="M107.5,2205.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S107.5,2204.395,107.5,2205.499"/>
            <path  d="M137.5,2205.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S137.5,2204.395,137.5,2205.499"/>
            <path  d="M167.5,2205.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S167.5,2204.395,167.5,2205.499"/>
            <path  d="M197.5,2205.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S197.5,2204.395,197.5,2205.499"/>
            <path  d="M227.5,2205.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S227.5,2204.395,227.5,2205.499"/>
            <path  d="M257.5,2205.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S257.5,2204.395,257.5,2205.499"/>
            <path  d="M287.5,2205.499c0,1.105-0.895,2.001-2,2.001s-2-0.896-2-2.001c0-1.104,0.895-1.999,2-1.999S287.5,2204.395,287.5,2205.499"/>
          </svg>
      </div>
    </div>

    <div class="t-header t-header--alt-2">
      <h2 class="t-head t-head--primary">
        {{item.title}}
        <span class="t-head__bar t-head__bar--mts i-bg"></span>
      </h2>
    </div>

    {% for element in item.elements %}
    <div class="t-header t-header--alt">
      <h3 class="t-head t-head--s-2 u-paint-orange-1">{{element.title}}</h3>
      <div class="t-content t-content--alt">{{element.txt}}</div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

{% endmacro %}